<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Coins Converter</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//blockr.io/js_external/coinwidget/coin.js"></script>

    <script type="text/javascript">
      window.I18n = <%= current_translations.to_json.html_safe %>
    </script>
  </head>

  <body class="page-wrap">
    <%= yield %>
  </body>
</html>
